<nav>
    <div class="containerNav">
        <h1>FlashCard</h1>
        <div class="top-bar">
            <a class="links" href="/yourDecks">Your Decks</a>
            <a class="links" href="/learn">Learn</a>
            <a class="links" href="/">Logout</a>
        </div>
        <button class="btn-options">Menu</button>
    </div>
    <div class="small-screen-nav" id="toggleOpt">
        <a class="links" href="/yourDecks">Your Decks</a>
        <a class="links" href="/learn">Learn</a>
        <a class="links" href="/">Logout</a>
    </div>
    <script src="/ajax/nav.js" type="text/javascript"></script>
</nav>