body {
    text-align: center;
}
.fa-edit, #Add, #submitNewCard {
    background: rgb(247, 171, 9);
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid rgba(209, 147, 13, 0.801);
}
#Add{
    float: left;
}
.fa-edit:hover, #Add:hover, #submitNewCard:hover {
    background: rgb(247, 188, 61);
    cursor: pointer;
}
.table {
    table-layout: fixed;
}
td[contenteditable="true"]{
    border: 2px solid skyblue;
}
td {
    width: 25%;
}
td div {
    max-height: 30px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
#newCardContainer {
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}
#newCardContainerHide {
    display: none;
}
#nameOfDeck {
    margin: auto;
    max-width: 960px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-group-text{
    background: white;
    font-weight: 700;
}
@media all and (max-width: 700px){
    #newCardContainer{
        width: 80%;
    }
}