body {
    text-align: center;
    padding-bottom: 4rem;
}
.container{
    animation: 1s ease-out 0s 1 fadeIn;
}
#edit{
    background-color: white;
    padding: 0;
    border: none;
    border-bottom: 2px solid lightgrey;
}
#edit:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(247, 171, 9);
}
#deckNameContainer{
    margin: auto;
    max-width: 960px;
}
.fa-edit{
    background: rgb(247, 171, 9);
    font-size: 20px;
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid rgba(209, 147, 13, 0.801);
}
#Add, #submitNewCard {
    background: rgb(247, 171, 9);
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid rgba(209, 147, 13, 0.801);
}
#Add{
    float: left;
}
.fa-edit:hover, #Add:hover, #submitNewCard:hover {
    background: rgb(247, 188, 61);
    cursor: pointer;
}
.table {
    table-layout: fixed;
}
td[contenteditable="true"]{
    border: 2px solid skyblue;
}
td div {
    max-height: 50px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
#newCardContainer {
    animation: 0.5s ease-out 0s 1 fadeIn;
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}
#newCardContainerHide {
    display: none;
}
#nameOfDeck {
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-group-text{
    background: white;
    font-weight: 700;
}
@media all and (max-width: 700px){
    #newCardContainer{
        width: 80%;
    }
    #nameOfDeck{
        font-size: 1.5rem;
        font-weight: 600;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }