body {
    text-align: center;
    padding-bottom: 4rem;
}
.table {
    table-layout: fixed;
    font-size: 22px;
}
td {
    font-size: 20px;
    width: 33.33%;
}
td div {
    max-height: 30px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.input-group-append{
    max-width: 600px;
    margin: auto;
}
#searchBtn{
    color: rgb(247, 171, 9);
    border-color: rgba(209, 147, 13, 0.801);
}
#searchBtn:hover{
    color: white;
    background-color: rgb(247, 171, 9);
}
.container{
    display: block;
    animation: 1s ease-out 0s 1 fadeIn;
}
.fa-download{
    font-size: 20px;
    background: rgb(247, 171, 9);
    color: white;
    border: 1px solid rgba(209, 147, 13, 0.801);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.fa-download:hover{
    background: rgb(247, 188, 61);
    cursor: pointer;
}
@media all and (max-width: 700px){
    #title{
        font-size: 1.5rem;
        font-weight: 600;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }