html {
    height: 100%;
}
body {
    text-align: center;
    height: 100%;
    margin-bottom: 2rem;
}
.titlePage{
    margin: 1.5rem;
}
.container {
    max-width: 800px;
    height: 70vh;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 2px lightgray;
    position: relative;
    margin: auto;
}
.learnPageContainer{
    margin: 0 1.5rem;
}
#exit {
    float: left;
    background: rgb(247, 171, 9);
    border: 0;
    color: white;
    height: inherit;
    font-size: 1.5rem;
}
#exit:hover {
    color: lightgray;
    cursor: pointer;
}
#next {
    background-color: white;
    border: 2px solid rgb(247, 171, 9);
    color: rgb(247, 171, 9);
    position: absolute;
    font-size: 1.5rem;
    right: 1px;
    bottom: 1px;
    border-bottom-right-radius: 16px;
}
#next:hover {
    cursor: pointer;
    background-color: rgb(247, 171, 9);
    color: white;
}
.header {
    background: rgb(247, 171, 9);
    color: white;
    height: 55px;
    border-bottom: 1px solid grey;
}
#front {
    margin: 10vh 0;
}
.input-group {
    width: 80%;
    margin: auto;
}
#lbl {
    background-color: white;
    font-weight: 700;
}
#reveal {
    background: rgb(247, 171, 9);
    color: white;
    border: 1px solid rgba(209, 147, 13, 0.801);
    box-shadow: 1px 1px 1px 1px lightgray;
}
#reveal:hover {
    background: rgb(247, 188, 61);
    cursor: pointer;
}
#amountCards {
    float: left;
}
#score {
    float: right;
    color: green;
}
#back {
    display: none;
}
#backCorrect {
    color: green;
    margin-top: 35px;
}
#backWrong {
    color: red;
    margin-top: 35px;
}