.display-4 {
    margin: auto;
    text-align: center;
    max-width: 960px;
    padding: 0 2rem;
    font-size: 3rem;
    font-weight: 400;
}
.titleDiv{
    margin-bottom: 4rem;
}
.imgDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}