body {
    text-align: center;
    padding-bottom: 4rem;
}
.learnContainer{
    margin: 0 1.5rem;
}
#chooseDeck {
    margin: auto;
    max-width: 960px;
}
#learnDeckBtn {
    background: rgb(247, 171, 9);
    color: white;
}
#learnDeckBtn:hover {
    background: rgb(247, 188, 61);
}
@media all and (max-width: 700px){
    #title{
        font-size: 1.5rem;
        font-weight: 600;
    }
}