body {
    text-align: center;
    padding-bottom: 4rem;
}
.table {
    table-layout: fixed;
}
#nameOfDeck, #creator {
    overflow: hidden;
    text-overflow: ellipsis;
}
.container{
    animation: 1s ease-out 0s 1 fadeIn;
}
td div {
    max-height: 30px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.fa-download{
    float: right;
    font-size: 26px;
    padding: 4px;
    background: green;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.fa-download:hover{
    background: lightgreen;
    cursor: pointer;
}
@media all and (max-width: 700px){
    #nameOfDeck{
        font-size: 1.5rem;
        font-weight: 600;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }