body {
    margin-top: 60px;
    text-align: center;
}
.table {
    font-size: 22px;
    table-layout: fixed;
}
td {
    font-size: 20px;
    width: 33.33%;
}
td div {
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Add {
    background: rgb(247, 171, 9);
    font-size: 20px;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid rgba(209, 147, 13, 0.801);
    float: left;
}
#createNewDeck {
    font-size: 20px;
    background: rgb(247, 171, 9);
    color: white;
    border: 1px solid rgba(209, 147, 13, 0.801);
    box-shadow: 1px 1px 1px 1px lightgray;
}
#createNewDeck:hover, #Add:hover {
    background: rgb(247, 188, 61);
    cursor: pointer;
}
#newDeckForm {
    display: block;
    font-size: 20px;
}
#newDeckFormHide {
    display: none;
}
.input-group {
    width: 50%;
    margin: auto;
}
#deckName {
    width: 60%;
}
#title {
    margin: auto;
    box-shadow: 0px 2px 0px 0px lightgray;
    width: 40%;
}
.input-group-text{
    background: white;
    font-weight: 700;
}
