body {
    text-align: center;
    padding-bottom: 4rem;
}
.table {
    font-size: 22px;
    table-layout: fixed;
}
td {
    font-size: 20px;
    width: 33.33%;
}
td div {
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container{
    display: block;
}
#Add {
    background: rgb(247, 171, 9);
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid rgba(209, 147, 13, 0.801);
    margin-top: 1rem;
    margin-right: auto;
    display: flex;
}
#Add:focus{
    outline: none;
}
#createNewDeck {
    font-size: 20px;
    background: rgb(247, 171, 9);
    color: white;
    border: 1px solid rgba(209, 147, 13, 0.801);
    box-shadow: 1px 1px 1px 1px lightgray;
}
#createNewDeck:hover, #Add:hover {
    background: rgb(247, 188, 61);
    cursor: pointer;
}
#newDeckForm {
    display: block;
    margin: auto;
    max-width: 800px;
    font-size: 20px;
}
#newDeckFormHide {
    display: none;
}
.labelNewDeck{
    font-size: 1.5rem;
    float: left;
}
.input-group-append{
    width: 100%;
}
#deckName {
    max-width: 700px;
}
#title {
    margin: auto;
}
.input-group-text{
    background: white;
    font-weight: 700;
}
