body {
    text-align: center;
    padding-bottom: 4rem;
}
.table {
    font-size: 22px;
    table-layout: fixed;
    width: 100%;
}
td {
    font-size: 20px;
    padding: 0;
}
td div {
    max-height: 30px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.container{
    display: block;
    animation: 1s ease-out 0s 1 fadeIn;
}
#Add {
    background: rgb(247, 171, 9);
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border: 1px solid rgba(209, 147, 13, 0.801);
    margin-top: 1rem;
    margin-right: auto;
    display: flex;
}
#Add:focus{
    outline: none;
}
#createNewDeck, .fa-share-alt {
    font-size: 20px;
    background: rgb(247, 171, 9);
    color: white;
    border: 1px solid rgba(209, 147, 13, 0.801);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px lightgray;
}
#createNewDeck:hover, #Add:hover, .fa-share-alt:hover {
    background: rgb(247, 188, 61);
    cursor: pointer;
}
#newDeckForm {
    display: block;
    margin: auto;
    max-width: 800px;
    font-size: 20px;
    animation: 0.5s ease-out 0s 1 fadeIn;
}
#newDeckFormHide {
    display: none;
}
.labelNewDeck{
    font-size: 1.5rem;
    float: left;
}
.input-group-append{
    width: 100%;
}
#deckName {
    max-width: 700px;
}
#title {
    margin: auto;
}
.input-group-text{
    background: white;
    font-weight: 700;
}
.true {
    background-color: green;
    border: 1px solid green;
}
.true:hover{
    background-color: lightgreen;
}
@media all and (max-width: 700px){
    #title{
        font-size: 1.5rem;
        font-weight: 600;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }